In [1]:
# The code was removed by DSX for sharing.

In [3]:
# The code was removed by DSX for sharing.

Loading required package: httr
Loading required package: RCurl
Loading required package: bitops

Attaching package: ‘RCurl’

The following object is masked from ‘package:SparkR’:

    base64

  X Class Sex    Age   Survived Freq
1 1 1st   Male   Child No        0
2 2 2nd   Male   Child No        0
3 3 3rd   Male   Child No       35
4 4 Crew  Male   Child No        0
5 5 1st   Female Child No        0
6 6 2nd   Female Child No        0

In [4]:
df.data.1 <-  read.csv(file = getObjectStorageFileWithCredentials_b96560a97b4d4f74a742d6be66f5abec("DataCleansing", "Titanic.csv"))
head(df.data.1)

  X Class Sex    Age   Survived Freq
1 1 1st   Male   Child No        0
2 2 2nd   Male   Child No        0
3 3 3rd   Male   Child No       35
4 4 Crew  Male   Child No        0
5 5 1st   Female Child No        0
6 6 2nd   Female Child No        0